<h2><%= parentView %> > Change Password</h2>
<a href="#dashboard/settings">Back to <%= parentView %></a>
<p id="serverMessage" class="fontColor-red">
    <%if(typeof serverMessage !== 'undefined') {
        print(serverMessage);
    }%>
</p>
<hr>
<h4><strong>Change password for <%= username.toUpperCase() %></strong></h4>
<form>
    <ul>

        <li>
            <label for="old-password">Current Password:</label><br>
            <input id="old-password" required="true">
        </li>
        <li>
            <label for="new-password">New Password:</label><br>
            <input id="new-password" type="password" required="true">
        </li>
        <li>
            <label for="confirm-password">New Password:</label><br>
            <input id="confirm-password" type="password" required="true">
        </li>
    </ul>
    <button id="passwordSubmit" type="submit">
        <% if(waiting){ %>
        <div class="button-wait">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <%}else{%>
        <div class="defaultText">Submit</div>
        <%}%>
    </button>
</form>