<div class="col-sm-12">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><h3 class="navbar-text"><%- username.toUpperCase() %></h3></li>
                    <li><h3 class="navbar-text">&bull;</h3></li>
                    <li> <h3 class="navbar-text"><a href="#dashboard/settings">Settings</a></h3></li>
                    <li><h3 class="navbar-text">&bull;</h3></li>
                    <li> <h3 class="navbar-text"><a id="logout" href="#">Logout</a></h3></li>
                    <li><h3 class="navbar-text">&#124;</h3></li>
                    <li><h3 class="navbar-text"></h3></li>
                </ul>
            </div>
        </nav>

    </div>

    <div class="page-panel">
        <h2><b>Pages</b></h2>
    </div>
    <hr>
    <div class="page-content">
        <h1>Default Page Message</h1>
    </div>

</div>