<div class="col-sm-12">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><h3 class="navbar-text">{{user.username}}</h3></li>
                    <li><h3 class="navbar-text">&bull;</h3></li>
                    <li> <h3 class="navbar-text"><a href="#">Settings</a></h3></li>
                    <li><h3 class="navbar-text">&bull;</h3></li>
                    <li> <h3 class="navbar-text"><a id="logout" href="#">Logout</a></h3></li>
                    <li><h3 class="navbar-text">&#124;</h3></li>
                    <li><h3 class="navbar-text">slowbar.net</h3></li>
                </ul>
            </div>
        </nav>

    </div>
    <div class="content">
        {{#if pageContent.error}}
        <h1 class="ui--pre-edit-text ">Click on a page to edit content.</h1>
        {{else}}
        <div class="row ui--pre-edit-text">
            <h1>{{pageContent.title}} Categories</h1>
            <ul class="list-inline">
                {{#each pageContent.subDivide}}
                <li><h2><a href="#/main/{{../pageContent.title}}/{{type}}">{{type}}</a></h2></li>
                {{/each}}
            </ul>
        </div>
        <hr>
        <div class="row">
            <h2 class="ui--pre-edit-text text-center">Click and item to edit</h2>
            {{#each pageContent.group}}
            <h2 class="js--item-edit">{{@key}}</h2>
            <div class="menu_group">
                {{#each this}}
                <ul class="list-inline js--item-title">

                    <li class="js--item-edit">
                        <input type="checkbox" class="checkbox-inline ui--pre-edit-text ui--edit-checkbox">
                        &emsp;<h3 class="inline">{{@key}}</h3>
                        <div class="inline ui--edit-icons hidden">
                            &emsp;
                            <span class='glyphicon glyphicon-pencil js--edit-item' data-toggle="tooltip" data-placement="top" title="Edit this item"></span>
                            <span class='glyphicon glyphicon-arrow-up js--move-item-up' data-toggle="tooltip" data-placement="top" title="Move item up"></span>
                            <span class='glyphicon glyphicon-arrow-down js--move-item-down' data-toggle="tooltip" data-placement="top" title="Move item down"></span>
                            <span class='glyphiconglyphicon glyphicon glyphicon-plus js--add-item-after' data-toggle="tooltip" data-placement="top" title="Add an item after this."></span>
                            <span class='glyphicon glyphicon-remove-circle fontColor-red js--remove-item' data-toggle="tooltip" data-placement="top" title="Remove this item"></span>
                        </div>
                    </li>
                    <div class="hidden partial--item-edit-form">
                        <form>
                            <fieldset>
                                <h3>Item Edit</h3>
                            </fieldset>
                            <input type="hidden" name="id" value="{{this.0.id}}">
                            <input type="hidden" name="list_order" value="{{this.0.list_order}}">
                            <ul>
                                <li>
                                    <h4><label for="title"><b>Name: </b></label></h4>
                                    <textarea id="title" name="title">{{this.0.title}}</textarea>
                                </li>
                                <li>
                                    <h4><label for="price"><b>Price: </b></label></h4>
                                    <textarea id="price" name="price">{{this.0.price}}</textarea>
                                </li>
                                {{#each this}}
                                {{#if subprice}}
                                <li><h4><label for="description{{@index}}"><b>
                                                Item:
                                            </b></label></h4>
                                    {{/if}}
                                    {{#unless subprice}}
                                    {{#if description}}
                                <li><h4><label for="description{{@index}}"><b>
                                                Description
                                            </b></label></h4>
                                    {{/if}}
                                    {{/unless}}

                                    {{#if description}}
                                    <textarea id="description{{@index}}" class="ui--textarea-big" name="descriptions[][text]">{{description}}</textarea>
                                    <input type="hidden" name="descriptions[][id]" value="{{desc_id}}">

                                    {{/if}}
                                </li>

                                {{#if subprice}}
                                <li>
                                    <h4><label for="subprices{{@index}}"><b>Mod Price: </b></label></h4>
                                    <textarea id="subprices{{@index}}" name="subprices[][text]">{{subprice}}</textarea>
                                    <input type="hidden" name="subprices[][desc_id]" value="{{subprice_desc_id}}">
                                </li>
                                {{/if}}
                                {{/each}}
                            </ul>
                            <hr>
                            <h3>Add additional item / description for {{this.0.title}}</h3>
                            <ul class="js--add-description ui--trans-fade">
                                <li>
                                    <h4><label for="description{{@index}}"><b>Item / Description</b></label></h4>
                                    <textarea id="description{{@index}}" class="ui--textarea-big" name="descriptions[][text]"></textarea>
                                    <input type="hidden" name="descriptions[][id]" value="{{desc_id}}">
                                </li>
                                <li>
                                    <h4><label for="subprices{{@index}}"><b>Mod Price: </b></label></h4>
                                    <textarea id="subprices{{@index}}" name="subprices[][text]"></textarea>
                                    <input type="hidden" name="subprices[][desc_id]" value="{{subprice_desc_id}}">
                                </li>
                            </ul>
                            <hr>
                            <button class="js--item-update btn btn-success">Update</button>
                            <button class="js--item-cancel btn btn-warning">Cancel</button>
                            <button class="js--item-remove btn btn-danger">Remove Item</button>
                        </form>
                    </div>

                </ul>
                {{/each}}
            </div><!-- /menu_group-->
            {{/each}}
        </div>
        {{/if}}
    </div>
    <div class="hidden partial--add-item-form">
        <form>
            <fieldset>
                <h3>Add Item</h3>
            </fieldset>

            <input type="hidden" id="list_order" name="list_order" value="">
            <ul>
                <li>
                    <h4><label for="title"><b>Name: </b></label></h4>
                    <textarea id="title" name="title"></textarea>
                </li>
                <li>
                    <h4><label for="price"><b>Price: </b></label></h4>
                    <textarea id="price" name="price"></textarea>
                </li>

            </ul>
            <ul class="js--add-description ui--trans-fade">
                <li>
                    <h4><label for="description{{@index}}"><b>Item / Description</b></label></h4>
                    <textarea id="description{{@index}}" class="ui--textarea-big" name="descriptions[][text]"></textarea>
                    <input type="hidden" name="descriptions[][id]" value="{{desc_id}}">
                </li>
                <li>
                    <h4><label for="subprices{{@index}}"><b>Mod Price: </b></label></h4>
                    <textarea id="subprices{{@index}}" name="subprices[][text]"></textarea>
                    <input type="hidden" name="subprices[][desc_id]" value="{{subprice_desc_id}}">
                </li>
            </ul>
            <hr>
            <button class="js--item-add btn btn-success">Add</button>
            <button class="js--item-cancel btn btn-warning">Cancel</button>
        </form>
    </div>
</div>