<div class="modal-content absolute-center">
    <div class="modal-close modal-close-x">&times;</div>
    <div class="modal-content-inner">
        <h2>Settings</h2>
        <h3>what would you like to do?</h3>
        <ul>
            <li>
                <a href="#dashboard/settings/change-username">Change my username</a>
            </li>
            <li>
                <a href="#dashboard/settings/change-password">Change my password</a>
            </li>
        </ul>

    </div>
    <h4 class="text-right">
        <a class="modal-close modal-close-bottom" href="#">close</a>
    </h4>
</div>

