.button-wait {
  text-align: center;
  font-size: 10px;
  height:15px;
  width:100%;
}

.button-wait > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.button-wait .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.button-wait .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.button-wait .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.button-wait .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}